.main-momo{
    height: 100vh;
    width: 100%;
    display: flex;
    background: url(../../../frontend/images/popup/form-popup-free-marketing.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-momo .backdrop-filter{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background-color: #8883ff6b;
}
.momo-register button.close{
    position: absolute;
    right: 10px;
}
.popup-combo.momo-register {
    border-radius: 16px;
    overflow: hidden;
    width: fit-content;
    position: relative;
    z-index: 1;
    max-width: 1000px;
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}
.momo-register .form-branch-app{
    left: 20px;
    width: calc(100% * 3 / 7);
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    max-width: 481px;
    background: #7161BA;
    box-shadow: -3px 5px 20px rgb(113 97 186 / 15%);
    border-radius: 32px;
    overflow: hidden;
    transition: all .3s ease-out;
}
.momo-register .form-branch-app >.title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #7161BA;
    background: #E3E1F1;
    padding: 24px 0;
}
.momo-register .form-branch-app >.title>p{
    margin: 0;
}
.momo-register .form-branch-app>form{
    padding: 20px 20px 10px;
}
.momo-register .form-branch-app .table-label:first-child{
    margin-top: 0;
}
.momo-register .form-branch-app .table-label{
    /* background: #E3E1F1; */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #7161BA;
    margin-top: 10px;
}
.momo-register .form-branch-app form {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0;
    background-color: #F5F5F7;
}
.momo-register .form-branch-app form .input{
    margin-bottom: 0;
}
.momo-register .form-branch-app form .input input {
    border: none;
    background-color: transparent;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    transition: all .3s ease-in-out;
}
.momo-register .form-branch-app form .input:first-child {
    padding-top: 20px;
}
.momo-register .form-branch-app form .input {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #EEEDF2;
}
.errors_log {
    color: #f15252;
    display: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
}

.momo-register .form-branch-app .btn-submit .submit_momo {
    background: #7161BA;
    border-radius: 44px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    padding: 10px 0;
    margin-top: 20px;
    color: #F5F5F7;
    border: none;
    width: 100%;
}
.popup-combo.momo-register.item img.pop-up-mobile{
    display: none;
    width: 100%;
}
.momo-register .form-branch-app form .input img.icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}
.momo-register .form-branch-app .btn-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.momo-register .form-branch-app .view-more {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bolder;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #7161BA;
    padding: 10px 0;
}
.payment-momo .form-branch-app >.title{
    color: #fff;
    background: #7161ba;
    padding: 18px 0;
}
.payment-momo .form-branch-app .btn-submit, .register-beautyx .form-branch-app .btn-submit{
    margin-bottom: 15px;
}

@media (max-width: 920px){
    .main-momo{
        background-image: url(../../../frontend/images/popup/mobile-form-popup-free-marketing.jpg);
        background-position: top;
    }
    .popup-combo.momo-register {
        max-height: 90vh;
        overflow: scroll;
        width: calc(100vw - 20px);
        background-color: #3F2194;
         /* background-image:url('../img/bgmomo.png')  ;  */
    }
    .popup-combo.payment-momo {
        background-color: #5f01af;
        background-image: none;
    }
    .popup-combo.momo-register.item img.branch-img-pop-up{
        display: none;
    }
    .popup-combo.momo-register.item img.pop-up-mobile {
        display: block;
    }
    .momo-register .form-branch-app {
        margin-top: 0px;
        margin-bottom: 12px;
        width: 85%;
        position: relative;
        left: 0;
    }
    .momo-register .form-branch-app >.title{
        font-size: 28px;
        line-height: 1.5;
        padding: 16px 0;
    }
    .momo-register .form-branch-app form{
        padding: 8px 12px 0;
    }
}
  @media (max-width: 479px){
    .momo-register .form-branch-app >.title{
        font-size: 24px;
        line-height: 1;
    }
    .momo-register .form-branch-app .table-label{
        font-size: 16px;
        line-height: 1;
        margin-top: 8px;
    }
}
.popup-combo.momo-register::-webkit-scrollbar{
    display: none;
}
